{% extends 'main_app/base.html' %} {% block content %}

<h1 class="title">Bills</h1>

<div class="buttons">
  <a class="button is-primary" href="/create">
    <strong>Create Bill</strong>
  </a>
</div>

{% for bills in bills %}

<div class="tile is-child box">
  <div class="card m-3">
    <header class="card-header">
      <div class="card-header-title">{{bills.name}}</div>
    </header>
    <div class="card-content">
      <p class="mb-2">Bill Total: ${{bills.amount}}</p>
      <b></b>
      <p class="mb-2">{{bills.bill_owner}} owes: ${{bills.your_split}}</p>
      <b></b>
      <p class="mb-2">
        Payment Link:
        <a href="{{bills.payment_link}}">{{bills.payment_link}}</a>
      </p>
      <b></b>
      <div class="card-action"></div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
