{% extends 'main_app/base.html' %} {% block content %}
<section class="is-halfheight">
  <div class="hero-body">
    <div class="">
      <p class="title"></p>
      <p class="subtitle"></p>
    </div>
  </div>
  <section class="is-halfheight">
    <div class="hero-body">
      <div class="">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
    </div>
  </section>
  <section class="hero is-success is-halfheight">
    <div class="hero-body">
      <div class="">
        <p class="title">Hans' Bill Tracker</p>
        <p class="subtitle">Track my bills!</p>
      </div>
    </div>
  </section>
  {% endblock %}
</section>
